{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "uglify": true,
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],
}
